<div class="container mx-auto w-50 pt-5 mt-5 "><form (ngSubmit)="resetPasswordMethod()" action="" class="py-4" [formGroup]="resetPasswordForm">

    <h2 *ngIf="errorMessage" class="bg-danger-subtle mb-3 p-3 mX-auto rounded-3 ">
        Invalid email.
    </h2>


<div class="d-flex flex-column gap-3">
    <h2 class="">Reset your password: </h2>
   
    
    <div class="form-floating">

        <input formControlName="email" type="email" class="form-control" id="email" placeholder="">
        <label class="" for="email">
            Email
        </label>
    </div>
    <div *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched " class="bg-danger-subtle mb-3 rounded-2 d-flex align-items-center ">
        <p *ngIf="resetPasswordForm.get('email')?.errors?.['required']" class="p-0 m-0 p-2">
            Your Email is required.
        </p>

        <p *ngIf="resetPasswordForm.get('email')?.errors?.['email']" class="p-0 m-0 p-2">
            Please enter a valid email.
        </p>
    </div>
    
    <div class="form-floating">

        <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="">
        <label class="" for="newPassword">
            Password
        </label>
    </div>

    <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="bg-danger-subtle mb-3 rounded-2 d-flex align-items-center ">
        <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']" class="p-0 m-0 p-2">
            Your password should contain at least 8 characters including a capital case letter(A-Z), a lower case letter(a-z), a number (0-9), and a special character(@ , ! , % , ...).
        </p>

        <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']" class="p-0 m-0 p-2">
            Your password is required.
        </p>
    </div>


    
    <div class="form-floating">

        <input  formControlName="rePassword" type="password" class="form-control" id="repassword" placeholder="">
        <label class="" for="repassword">
            Confirm password
        </label>
    </div>

    <div *ngIf="resetPasswordForm.get('rePassword')?.errors && resetPasswordForm.get('rePassword')?.touched" class="bg-danger-subtle mb-3 rounded-2 d-flex align-items-center ">
        <p *ngIf="resetPasswordForm.get('rePassword')?.errors?.['required']" class="p-0 m-0 p-2">
            Please re-enter your password.
        </p>

        <p *ngIf='matching' class="p-0 m-0 p-2">
            Your passwords do not match.
        </p>
    </div>
    
    
   
</div>
<button  [class.mainColor]="resetPasswordForm.invalid" [disabled]="resetPasswordForm.invalid" type="submit" class="btn register-button text-light d-block w-auto ms-auto my-4">Change password <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
   
    </form>

</div>