<div class="container mx-auto w-50 pt-5 mt-5  "><form (ngSubmit)="loginSubmit()" action="" class="py-4" [formGroup]="loginForm">


    <div class="d-flex flex-column gap-3">
        <h2 class="">Login Now: </h2>
        
        <h3 *ngIf="errorMessage" class="bg-danger-subtle rounded-3 p-3">
            {{errorMessage}}
        </h3>
        <div class="form-floating">

            <input formControlName="email" type="email" class="form-control" id="email" placeholder="">
            <label for="email">
                Email
            </label>
        </div>

        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="bg-danger-subtle rounded-2 d-flex align-items-center mb-3 " >
            <p *ngIf="loginForm.get('email')?.errors?.['required']" class="p-0 m-0 p-2">
                Your email is required.
            </p>

            <p *ngIf="loginForm.get('email')?.errors?.['email']" class="p-0 m-0 p-2">
               Enter a valid email.
            </p>
        </div>
        
        <div class="form-floating">

            <input formControlName="password" type="password" class="form-control" id="password" placeholder="">
            <label for="password">
                Password
            </label>
        </div>
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="bg-danger-subtle rounded-2 d-flex align-items-center mb-3 ">

    
            <p *ngIf="loginForm.get('password')?.errors?.['required']" class="p-0 m-0 p-2">
                Your password is required.
            </p>

            <p *ngIf="loginForm.get('password')?.errors?.['pattern']" class="p-0 m-0 p-2">
                Your password should contain at least 8 characters including a capital case letter(A-Z), a lower case letter(a-z), a number (0-9), and a special character(@ , ! , % , ...).

            </p>
        </div>

        

    
        
        
        
        
    </div>

    <div class="d-flex align-items-center justify-content-between">

        <h5 id="forgotPassword" (click)="forgotPassword()" class="">Forgot Your password?</h5>

        <button  [class.mainColor]="loginForm.invalid" [disabled]="loginForm.invalid" type="submit" class="btn register-button text-light  w-auto  my-4">Login <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>

    </div>

        </form>
    
    </div>


