<section class="container py-5 my-5">
    
        <div class="py-5">
    
  
            <div class="row g-3 mb-3">
                <div *ngFor="let category of _caCategoryInterface " class="col-lg-3 col-md-6 ">
                    <div class=" productCard categoryCard rounded-3 overflow-hidden">
                        <div class="cursor-pointer" [routerLink]="['/CategoryDetails',category._id]">
        
                            <div class=" position-relative d-flex justify-content-center align-items-start overflow-hidden" style="height: 260px;">
                                <img [src]="category.image" [alt]="category.name" [title]="category.name" class="w-100">
                            
                           </div>
                           <h4 class="p-2 mainColorText text-center">
                            {{category.name}}
                        </h4>
                           

                        
                    </div>
        
                </div>
        
            </div>
    
    
        </div>
    </div>

    
            
    
    
    </section>
    