<nav  class="fixed-top navbar navbar-expand-lg  lightColor px-3 py-3">
    <div class="container-fluid d-flex px-5 align-items-center ">
      
      <i _ngcontent-kio-c20="" class="fa-solid fa-cart-shopping nav-icon fs-2 mainColorText cursor-pointer"><h3 class="d-inline-block text-black routerl "  routerLink="home">FreshCart</h3> </i> 

        
 <button class="navbar-toggler my-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
       
        

        <div class="collapse navbar-collapse mx-auto text-center py-0 " id="navbarNav">

        


          <ul *ngIf="logged" class="navbar-nav ms-auto d-flex text-center gap-2">
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton active " routerLinkActive="mainColor text-white" aria-current="page" routerLink="home">Home</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white"  routerLink="cart">Cart</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white" routerLink="wishList">Wish list</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white" routerLink="products">Products</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white" routerLink="categories">Categories</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white" routerLink="brands">Brands</a>
            </li>
            <li class="nav-item   fw-bold fs-6">
              <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white" routerLink="allorders">My orders</a>
            </li>
  
          </ul>
        


        <ul class="navbar-nav ms-auto text-center d-flex gap-2">
          <li *ngIf="!logged" class="nav-item   fw-bold fs-6">
            <a class="nav-link rounded-2 fw-lighter text-secondary navButton active " routerLinkActive="mainColor text-white" aria-current="page" routerLink="register">Register</a>
          </li>
          <li *ngIf="!logged" class="nav-item   fw-bold fs-6">
            <a class="nav-link rounded-2 fw-lighter text-secondary navButton" routerLinkActive="mainColor text-white"  routerLink="login">LogIn</a>
          </li>

          <li *ngIf="logged" class="nav-item   fw-bold fs-6">
            <a class="nav-link rounded-2 fw-lighter text-secondary text-center   cursor-pointer"  routerLink="cart"  ><i  class="cartSymbol text-center fa-solid fs-3 fa-cart-shopping position-relative">
              <div style="width: 20px;height: 20px; " class="p-1 d-flex justify-content-center align-items-center text-center rounded-2 position-absolute start-50 bottom-50 fs-6 fw-normal text-light mainColor deco"*ngIf="totalItemsNav!=0&&totalItemsNav!=null" >{{totalItemsNav}}</div>
            </i></a>

          </li>

          <li *ngIf="logged" id="" class="nav-item    fw-bold fs-6">
            <a class="nav-link rounded-2 fw-lighter text-secondary navButton cursor-pointer" (click)="logOut()" routerLinkActive="mainColor text-white"  >Log out</a>

          </li>

        </ul>

      </div>         </div>
    </nav>
