
<div class="container mx-auto w-50 py-5 my-5  "><form (ngSubmit)="paySubmit()" action="" class="py-4" [formGroup]="addressForm">


<div class="d-flex flex-column gap-3">
    <h2 class="">Write your address: </h2>
    <div class="form-floating">

        <input formControlName="details" type="text" class="form-control" id="details" placeholder="">
        <label for="details">
           Adress details
        </label>

        
    </div>
    <div *ngIf="addressForm.get('details')?.errors && addressForm.get('details')?.touched  " class="bg-danger-subtle mb-3 rounded-2 d-flex justify-content-center flex-column gap-1 my-1">
        <p *ngIf="addressForm.get('details')?.errors?.['required']" class="p-0 m-0 p-2">
            Your address details is required.
        </p>

        <p *ngIf="addressForm.get('details')?.errors?.['minlength']" class="p-0 m-0 p-2">
            Your address details should contain at least three characters.
        </p>

        <p *ngIf="addressForm.get('details')?.errors?.['pattern']" class="p-0 m-0 p-2">
           Please enter a valid address details.
        </p>

        <p *ngIf="addressForm.get('details')?.errors?.['maxlength']" class="p-0 m-0 p-2">
            Your address details shouldn't contain more than 12 characters.
         </p>
    </div>

    <div class="form-floating">

        <input  formControlName="phone" type="tel" class="form-control" id="phone" placeholder="">
        <label for="phone">
            Phone
        </label>
    </div>

    <div *ngIf="addressForm.get('phone')?.errors && addressForm.get('phone')?.touched" class="bg-danger-subtle mb-3 rounded-2 d-flex align-items-center ">
        <p *ngIf="addressForm.get('phone')?.errors?.['pattern']" class="p-0 m-0 p-2">
            Please enter a valid phobne number.
        </p>

        <p *ngIf="addressForm.get('phone')?.errors?.['required']" class="p-0 m-0 p-2">
            Your phone number is required.
        </p>
    </div>
    
</div>
    
    <div class="form-floating mt-3">

        <input formControlName="city" type="city" class="form-control" id="city" placeholder="">
        <label for="city">
            city
        </label>
    </div>

    <div *ngIf="addressForm.get('city')?.errors && addressForm.get('city')?.touched " class="bg-danger-subtle  my-3 rounded-2 d-flex align-items-center ">
        <p *ngIf="addressForm.get('city')?.errors?.['required']" class="p-0 m-0 p-2">
            Your city is required.
        </p>

        <p *ngIf="addressForm.get('city')?.errors?.['city']" class="p-0 m-0 p-2">
            Please enter a valid city.
        </p>

        <p *ngIf="addressForm.get('city')?.errors?.['minlength']" class="p-0 m-0 p-2">
            Your city should contain at least three characters.
        </p>

        <p *ngIf="addressForm.get('city')?.errors?.['maxlength']" class="p-0 m-0 p-2">
            Your city shouldn't contain more than 15 characters.
         </p>
    </div>
    
    
    
    
<button  [class.mainColor]="addressForm.invalid" [disabled]="addressForm.invalid" type="submit" class="btn register-button text-light d-block w-auto ms-auto my-4">Online Payment <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
   
    </form>

</div>