<div class=" py-4 mx-auto w-50 pt-5 mt-5">
    
    <form class="mt-4" action="" (ngSubmit)="forgotMethod()" [formGroup]="forgotForm">
    <h3 *ngIf="notValidEmail" class="my-3 bg-danger-subtle rounded-3 p-3">
    Please enter an existing email.
    </h3>
    
    <h3>Enter your email:</h3>
        
    <div class="form-floating">

        <input formControlName="email" type="email" class="form-control my-2" id="email" placeholder="">
        <label for="email">
            Email
        </label>
    </div>
            
            

            <div *ngIf="forgotForm.get('email')?.errors && forgotForm.get('email')?.touched" class="bg-danger-subtle rounded-2 d-flex align-items-center " >
                <p *ngIf="forgotForm.get('email')?.errors?.['required']" class="p-0 m-0 p-2">
                    Your email is required.
                </p>
                
                <p *ngIf="forgotForm.get('email')?.errors?.['email']" class="p-0 m-0 p-2">
                   Enter a valid email.
                </p>
                </div>
            
           
            

            <button  [class.mainColor]="forgotForm.invalid" [disabled]="forgotForm.invalid" type="submit" class="btn ms-auto d-block register-button text-light  w-auto  my-4">Varify <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>

    </form>
</div>


