
<div class=" py-5 mx-auto w-50 pt-5 mt-5">
    
    <form class=" pt-4" action="" (ngSubmit)="varifyCodeMethod()" [formGroup]="varifyCodeForm">
    <h3 *ngIf="notValidCode" class="my-3 bg-danger-subtle rounded-3 p-3">
    Your varifacation code is invalid.
    </h3>
    
    <h3>Enter your varifacation code:</h3>
        
    <div class="form-floating">

        <input formControlName="resetCode" type="resetCode" class="form-control my-2" id="resetCode" placeholder="">
        <label for="resetCode">
            Code
        </label>
    </div>
            
            

            <div *ngIf="varifyCodeForm.get('resetCode')?.errors && varifyCodeForm.get('resetCode')?.touched" class="bg-danger-subtle rounded-2 d-flex align-items-center " >
                <p *ngIf="varifyCodeForm.get('resetCode')?.errors?.['required']" class="p-0 m-0 p-2">
                    Please enter the varifacation code.
                </p>
                

                </div>
            
           
            

            <button  [class.mainColor]="varifyCodeForm.invalid" [disabled]="varifyCodeForm.invalid" type="submit" class="btn ms-auto d-block register-button text-light  w-auto  my-4">Varify <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>

    </form>
</div>


